body {
    font-size: 16px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #61122f;
}

header {
    background-color: #f6b319;
}


#logo-img {
    background: url(../images/restaurant-logo_large.png) no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

@media (min-width: 992px),
(max-width: 1199px) {
    #logo-img {
        margin: auto;
        background: url(../images/restaurant-logo_medium.png) no-repeat;
        height: 100px;
        width: 100px;
        margin: 5px 5px 5px 0px;
    }

}

.navbar-text a {
    text-decoration: none;
}


.navbar-text h1 {
    font-family: Lora, serif;
    text-transform: uppercase;
    color: #557c3e;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    clear: both;
}


.navbar-brand {
    float: left;
}

.navbar-text {
    float: left;
}



.navbar-toggler {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    padding: 9px 10px;
    background-image: none;
    overflow: visible;
}

.navbar-text p {
    /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-text p span {
    vertical-align: middle;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


#nav-list {
    margin-top: 10px;
}

.nav-link {
    color: rgb(149, 28, 73);
}

.nav-link span {
    font-size: 1.8em;
}

.nav-item {
    min-width: max-content;
    padding-left: 1rem;
    font-size: 0.9em;
}

#phone a {
    /* Phone number */
    padding-top: 20px;
    padding-bottom: 0;
}

#phone div {
    /* We Deliver */
    color: #557c3e;
    padding-right: 10px
}

.navbar-toggler {
    margin-left: .75rem;
}

.jumbotron {
    margin-top: 2.5%;
    box-shadow: 0 0 10px #3f0c1f;
    border-radius: 2.5%;
    margin-bottom: 2.5%;
}

.jumbotron-container {
    margin-top: 2.5%;
    background-color: bisque;
    border-radius: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100, 28, 73, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(100, 27, 71, 0.5);
    border-width: 2px;
}

@media (min-width: 767px) {
    #call-btn {
        display: none;
    }

    #xs-deliver {
        display: none;
    }

    .horizotal-rule-xs hr {
        display: none;
    }

    #phone div {
        text-align: right;
    }

}

#call-btn>a {
    font-size: 1.25em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
}

#call-btn {
    width: fit-content;
    margin: auto;
    margin-top: 5%;
}

.btn {
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}

@media (max-width:766px) {
    #xs-deliver {
        display: block;
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
        text-align: center;
    }

    .horizontal-rule-xs hr {
        display: block;
    }

    #phone {
        display: none;
    }

    .navbar-brand {
        display: none;
    }
}

header .navbar .navbar-toggler {
    clear: both;
    margin: auto;
    margin-right: 5%;
}

@media (max-width: 991px) {
    #logo-img {
        display: none;
    }
}

@media (max-width: 622px) {
    header .navbar .navbar-toggler {
        margin-top: -10%;
    }
}

.nav-item {
    margin: auto;
}

#home-tiles{
    margin-top: 7.5%;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
    box-shadow: 0 0 5px white;
}

#menu-tile{
    background: url(../images/menu-tile.jpg);
    background-position: center;
}

#specials-tile{
    background: url(../images/specials-tile.jpg);
    background-position: center;
}

#menu-tile, #specials-tile, #map-tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}

#menu-tile span, #specials-tile span, #map-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;

}

footer{
    background-color: #222;
    padding-top: 30px;
}
footer .address, footer .hours{
    line-height: 2;
}
footer .address #address-quote{
    font-size: 0.85em;
    color: #557c3e;
    line-height: 2;
}
.feedbacks{
    font-style: italic;
}
.copyright{
    padding: 40px 0 30px 0;
}

@media (min-width: 576px) {
    footer hr{
        display: none;
    }
}

@media (max-width: 575px) {
    
    footer .container .footer-row{
        text-align: center;
    }
}